.nav-title {
  justify-content: left !important;
}

svg {
  color: rgb(137, 146, 161) !important;
  height: 1.5em;
  width: 1.5em;
}

.container {
  justify-content: space-evenly !important;
}

.navbar-header {
  display: flex;
  justify-content: end;
  height: 3rem;
}

