.nav-title {
  justify-content: left !important;
}

svg {
  color:  rgb(143, 61, 99) !important;
  transition: fill 0.2s ease-in-out !important;
  height: 1.5em;
  width: 1.5em;
}
  
.nav-container {
  justify-content: space-evenly !important;
}

.navbar-header {
  display: flex;
  justify-content: center;
  height: 3.5rem;
}
