.nav-title {
  justify-content: left !important;
}

svg {
  color: rgb(137, 146, 161) !important;
  transition: fill 0.2s ease-in-out !important;
  height: 1.5em;
  width: 1.5em;
}

svg:hover {
  color: rgb(131, 33, 254)!important;
}
  

.container {
  justify-content: space-evenly !important;
}

.navbar-header {
  display: flex;
  justify-content: end;
  height: 3.5rem;
}
