.dream-form {
  border-radius: 0 !important;
  background-color: rgb(93, 42, 66);
}

input,
textarea {
  color: rgb(250, 249, 246) !important;
}

.dream-form-btn {
  display: flex;
}

.submit-dream-btn {
  color: #ffffff;
  background-color: rgba(196, 194, 252, 0.8) !important;
  border: rgba(196, 194, 252, 0.8) !important;
  border-radius: 0.375rem;
  padding: 6px 12px !important;
  width: 5rem !important;
}
