.modal-content {
  background-color: rgb(93, 42, 66) !important;
  color: rgb(250, 249, 246) !important;
}

.dream-modal-btn {
  color: rgb(250, 249, 246);
  background-color: rgb(143, 61, 99) !important;
  border: rgb(143, 61, 99) !important;
  border-radius: 0.375rem;
  padding: 6px 12px !important;
  width: 5rem !important;
}

.modal-footer {
  justify-content: center !important;
}

.modal-open {
  background-color: rgb(93, 42, 66);
  border: rgb(93, 42, 66);
}
