.header-title {
  width: 270px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.custom-navbar {
  padding: 0 !important;
}

.nav-title {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
