.home-page {
  background-color: rgb(93, 42, 66);
  height: 100vh;
  color: rgb(250, 249, 246);
}

.no-records {
  justify-content: center;
}

.custom-container {
  margin-top: 15rem !important;
}

.custom-body {
  text-align: center !important;
  font-size: 20px;
}

.custom-div {
  align-items: center !important;
  flex-direction: column !important;
  display: flex !important;
}

.new-dream-btn {
  background-color: rgb(143, 61, 99) !important;
  border: rgb(143, 61, 99) !important;
  width: 18rem;
}
