.home-page {
  background-color: rgb(93, 42, 66);
  height: 100vh;
  color: rgb(250, 249, 246);
}

.no-records {
  justify-content: center;
}

.custom-container {
  margin-top: 7rem !important;
}

.custom-body {
  text-align: center !important;
  font-size: 18px;
}

.custom-div {
  align-items: center !important;
  flex-direction: column !important;
  display: flex !important;
}

.new-dream-btn {
  background-color: rgba(196, 194, 252, 0.8) !important;
  border: rgba(196, 194, 252, 0.8) !important;
  width: 10rem;
}
