.dreams-page {
  background-color: rgb(93, 42, 66);
  background-image: url("../assets/stars.png");
  height: 100vh;
  color: rgb(250, 249, 246);
}

.form-search-input {
  color: white !important;
}

input.form-search-input::placeholder {
  color: rgba(250, 249, 246, .5);
}

.no-records {
  color: rgba(250, 249, 246, .5) !important
}