.welcome-page {
  background-color: rgb(93, 42, 66);
  height: 100vh;
  color: rgb(250, 249, 246);
}

.card-body,
.card {
  background-color: rgb(93, 42, 66) !important;
  /* border: rgb(77, 35, 54) !important; */
  border-radius: 0 !important;
}

.custom-btn,
.btn-primary {
  margin-top: 10px;
  background-color: rgb(143, 61, 99) !important;
  border: rgb(143, 61, 99) !important;
}

.page-header {
  text-align: center;
}

.form {
  color: rgb(15, 33, 69) !important;
}

.text-center {
  color:  rgba(250, 249, 246, .5)
}

a {
  color: white !important;
}

.form-control {
  background-color: rgba(93, 42, 66, 0.7) !important;
}

input {
  color: white !important;
}
