.settings-page {
  background-color: rgb(93, 42, 66);
  height: 100vh;
  color: rgb(250, 249, 246);
}
.settings-btn {
  width: 6rem;
  height: 3rem;
  background-color: none !important;
  border: none !important;
}

.fw-light,
.text-decoration-underline {
  font-size: medium;
  color: rgb(250, 249, 246) !important;
}

.fw-bold,
.email {
  font-size: medium;
}

.settings-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 4rem !important;
}

p {
  font-size: 16px;
}
