.custom-btn {
  margin-top: 10px;
}

.form {
  color: rgb(138, 146, 162) !important;
}

.signup-form {
  border-radius: 0 !important;
}

.page-header {
  text-align: center;
  color: rgb(241, 244, 246);
}
