.custom-bttn {
  margin-top: 10px;
}

.form {
  background-color: rgb(223, 208, 175) !important;
  /* color: rgb(138, 146, 162) !important; */
}

.card-body {
  color: rgb(138, 146, 161) !important;
}

.signup-form {
  border-radius: 0 !important;
  background-color: rgb(35, 38, 46) !important;
}

.page-header {
  text-align: center;
  background-color: rgb(39, 45, 59);
  color: rgb(241, 244, 246);
}
