.custom-bttn {
    margin-top: 10px;
  }
  
  .form {
    color: rgb(138, 146, 162) !important;
  }
  
  .card-body {
    color: rgb(138, 146, 161) !important;
  }
  
  .signup-form {
    border-radius: 0 !important;
    background-color: rgb(35, 38, 46) !important;
  }
  
  .page-header {
    text-align: center;
    border-bottom: solid 0.5px #c1c1c1;
    background-color: rgb(39, 45, 59);
    color: rgb(241, 244, 246);
    padding-top: 0.5em;
  }